h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
    margin-inline-start: 580px;
}

img {

    margin-left: 500px;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
}

.contenido {


    margin: 10px;
    padding: 10px;
    color: darkslategray;
    flex-direction: column;
    margin-bottom: 20px;
    display: inline-block;

}

.rounded {

    border-radius: 500px;
    border-style: double;
    border-width: 20px;
    color: blanchedalmond;
}

table {
    color: darkslategray;
    display: flex;
    justify-content: center;
    margin-left: 110px;
    margin-top: 70px;


}

*imagenes {

    
    width: 32%;
    object-fit: cover;
    border: 2px solid yellow;

}