body {

    background: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    min-height: 50vh;
    line-height: 1.6;
    background-image: url('/img/hojas.jpg');
    /*  background-image: url('img/fondo.jpg');*/

}





* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Menú*/

header {

    background-color: #050505;
    text-align: center;
    padding: 25px;
}

nav a {

    display: inline-block;
    text-decoration: none;
    color: #959191;
    margin: 0 60px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover {

    background-color: #ffffff;
    color: #000000;
}

.encabezado-img {

    background-image: url(img/fondo.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.encabezado-img p {

    color: #565656;
    font-size: 18px;
}


.encabezado-img h1 {

    font-size: 50px;
    padding: 15px 0;
    color: #262626;

}

/* icono menu */

.fa-solid.fa-face-smile.fa-1x{

    color: #eaa31e;
    
}


/* video */


/* para h1 dentro del video
.promo{

    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 0%;
    margin: auto;
    position: relative;
    z-index: 2;
}

*/

#hero {
    min-height: 100vh;
    position: relative;
}

video {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    mix-blend-mode: overlay;
}



.info {

    margin: 10px;
    padding: 10px;
    color: white;
    flex-direction: column;
    margin-bottom: 20px;
    display: inline-block;

}

/* Bordes de una imágen 

.rounded {

    border-radius: 500px;
    border-style: double;
    border-width: 10px;
    color: dimgrey;
}
 */


.fondo {


    margin: 0px 100px 0px 0px;

}


/* Fotografías menú*/

.contenedor {

    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 200px 0px 0px 0px;
    display: grid;
    grid-template-columns: 100%;
    /*flexbox
    display: flex;
    justify-content: center;
    */

}

.contenedor-conciertos {
    /* flexbox
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    */
    /*grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;


}

.card {

    border-radius: 10px;
    min-height: 260px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;

    /* flexbox
    width: 33.33%;
    */

}


/* hastags*/

.etiquetas {

    padding: 50px;
}